# CS673 Assignment #1

**Answer the following questions, after completing answering please download the .ipynb or .py file and submit the file.**
* Name : Aayushi Verma
* Sesion : CS673 Summer 2023
* CRN : U01865004

In [1]:
import numpy as np
import pandas as pd

## Question One
**Write a brief description of all the following Object Types. To write the answers in below cell by double clicking on it.**

**Points**: **5**

Double Click HERE to edit this markdown cell and write answers.

Numbers ( Integers and Float): Numerical data types, like integers and floats, represent numerical data and are treated as such. An integer is a whole number, e.g. 9 or 123, and a float is a floating point representation, i.e. it contains decimal places, like 3.14 or 7.0003.

Strings: String data types represent data in a textual format. Strings contain alphanumeric characters and special characters.

Lists: Lists are a collection of data points. These data points can be a combination of any data type, like string, float, integer, and even complext data structures like lists, tuples, and dictionaries! Lists hold these data points between square brackets [].

Tuples: Tuples are an ordered collection of data points and hold the data between round brackets ().

Dictionaries: Dictionaries are a collection of key-value pairs and associates a value by its key. It holds the data between curly brackets {}.

##  Question Two
**The Table below holds the data that contains statistics about the programming languages used for issues on GitHub. The data is for 2021.**

**Points :5**

![A1.PNG]()

Answer the following questions based on above table

In [2]:
#2.1 : Using print function print the total number the issues. (add/sum the vales using '+' arithmetic operator)

total_issues = 1151 + 228703 + 328017 + 5733 + 13065 + 90268 + 102178 + 168453
print('The total number of issues is {} in 2021.'.format(total_issues))

The total number of issues is 937568 in 2021.

In [3]:
#2.2 : Using print function print the difference between the Python and Java issues.(using '-' arithmetic operator)

diff = 328017 - 228703
print('{} and {} have a difference of {} issues in 2021.'.format('Python','Java',diff))

Python and Java have a difference of 99314 issues in 2021.

In [4]:
#2.3 : Create a variable called ProLanguage and store the value 'Python' and using ".format()" function print the language name and total number of issues.

ProLanguage = 'Python'
print('{} has a total of {} issues in 2021.'.format(ProLanguage, 328017))

Python has a total of 328017 issues in 2021.

In [5]:
#2.4 From the table above print the average monthly issues for 'Scala'.

print('{} has a monthly average of {} issues in 2021.'.format('Scala', 13065 / 12))

Scala has a monthly average of 1088.75 issues in 2021.

In [6]:
#2.5
# Performs the following arithmetical operations and displays the results using '.format()' method with appropriate description.
# 16ร10
# 45รท5
# 5 power 3

print('16 * 10 = {}'.format(16 * 10))
print('45 / 5 = {}'.format(45 / 5))
print('5 ** 3 = {}'.format(5 ** 3))

16 * 10 = 160
45 / 5 = 9.0
5 ** 3 = 125

## Question Three
**Perform the following Type casting.**

**Points: 5**

In [7]:
#5.1 print the value of variable 'number' using print() with 'f' string' before and after type casting it to float.

number = 5

print(f'The value of "number" as its default type is {number} (type: {type(number)}).')
print(f'The value of "number" as float type is {float(number)} (type: {type(float(number))}).')

The value of "number" as its default type is 5 (type: <class 'int'>).
The value of "number" as float type is 5.0 (type: <class 'float'>).

In [8]:
#5.2 print the value of ' amount' by converting it to integer

amount = " 6500"

print(f'The value of "amount" as its default type is {amount} (type: {type(amount)}).')
print(f'The value of "amount" as float type is {int(amount)} (type: {type(int(amount))}).')

The value of "amount" as its default type is  6500 (type: <class 'str'>).
The value of "amount" as float type is 6500 (type: <class 'int'>).

## Question Four
Perform the following string slicing.

**Points : 10**

4.1 Given the string 'Python Programming', with the help of index get 'm'. Enter your code in the cell below

**Points: 1**

In [9]:
s = 'Python Programming'
# Print out 'm' using indexing

print(s[13])

m

4.2 Reverse the string 'Python Programming' using slicing:

**Points: 1**

In [10]:
s = 'Python Programming'
# Reverse the string using slicing

print(s[::-1])

gnimmargorP nohtyP

4.3 Given the string "Python Programming", give two methods (positive and negative indexing) of producing the letter 'i' using indexing.

**Points: 2**

In [11]:
s ='Python Programming'
# Print out the 'i'

# Method 1:
print(s[15])

# Method 2:
print(s[-3])

i
i

4.4: Given the string "New York City", extract the sub-string "York"

**Points :1**

In [12]:
s = 'New York City'

print(s[4:8])

York

4.5 : Given the string "New York City", extract the string 'NwYr iy'

**Points:2**

In [13]:
print(s[0] + s[2] + s[4] + s[6] + s[8] + s[10] + s[-1])

NwYr iy

4.6 : Given the string "New York City", extract the index of the letter 'Y'.
example : The output is ***index of 'C' is 9***

**Points:1**

In [14]:
cityname = "New York City"

print(s.index('Y'))

4

4.6 : find the length of the string " Python is powerful... and fast;plays well with others; runs everywhere; is friendly & easy to learn; is Open."

**Points : 2**

In [15]:
s = " Python is powerful... and fast;plays well with others; runs everywhere; is friendly & easy to learn; is Open."
print(len(s))

110

## Lists

## Question Five


**Points : 10**

5.1 Create two lists from the table below.

![A1.PNG]()

In [16]:
# Numeric List 1151,228703...
num_issues = [1151,228703,328017,5733,13065,90268,102178,168453]

In [17]:
# String List Fortran, Java, ....
lang = ['Fortran','Java','Python','R','Scala','C','C#','C++']

5.2 Reassign 'R' in this above list with 'HTML' and print it.

In [18]:

lang[3] = 'HTML'
print(lang)

['Fortran', 'Java', 'Python', 'HTML', 'Scala', 'C', 'C#', 'C++']

5.3 Arrange the Numeric list in desending order.

In [19]:
num_issues.sort(reverse=True)
print(num_issues)

[328017, 228703, 168453, 102178, 90268, 13065, 5733, 1151]

5.4 Insert 'CSS' at index 3 in String List

In [20]:
lang[3] = 'CSS'
print(lang)

['Fortran', 'Java', 'Python', 'CSS', 'Scala', 'C', 'C#', 'C++']

5.5 Find the index of the "Scala" from String list.

In [21]:
lang.index('Scala')

4

## Dictionaries

## Question Six


**Points :10**

Create a dictionary object from the table.

![A1.PNG]()

In [22]:
github_dict = {
    'Fortran':1151,
    'Java':228703,
    'Python':328017,
    'R':5733,
    'Scala':13065,
    'C':90268,
    'C#':102178,
    'C++':168453
}

6.1 Print the value of 'Python'

In [23]:
print(github_dict['Python'])

328017

6.2 Using function print keys, values and items of the dictionary.

In [24]:
github_dict.keys()

dict_keys(['Fortran', 'Java', 'Python', 'R', 'Scala', 'C', 'C#', 'C++'])

In [25]:
github_dict.values()

dict_values([1151, 228703, 328017, 5733, 13065, 90268, 102178, 168453])

In [26]:
github_dict.items()

dict_items([('Fortran', 1151), ('Java', 228703), ('Python', 328017), ('R', 5733), ('Scala', 13065), ('C', 90268), ('C#', 102178), ('C++', 168453)])

6.3 #Grab Python

In [27]:
d = {'k1':[{'nest_key':['this is CS632',['Python']]}]}

d['k1'][0]['nest_key'][1][0]

'Python'

6.4 Extract 'hello'

In [28]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

6.5 Is sorting a dictionary possible? Why or why not?<br><br>


Answer : It is not possible to sort a dictionary because by definition, it is immutable.

## Tuples

## Question Seven


**Points :5**

7.1 What is the major difference between tuples and lists? (double click to respond.)


Answer: Lists are mutable, whereas tuples are immutable. Mutable means that elements can be modified, added or removed after its creation, whereas for immutable tuples, their elements cannot be modified, added or removed.

7.2 convert one of the list which you have created into tuple?

In [29]:
lst = [0, 1, 2]
tup = tuple(lst)
tup

(0, 1, 2)

## Sets

7.3 What is unique about a set?<br><br>

Sets contain unique elements only, and are immutable. The contents of a set can be mutable though. They are also unordered, which means they do not maintain a specific order of elements. They support set operations as well.

7.4 Use a set to find the unique values of the list below:

In [30]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]


print(set(list5))

{1, 2, 33, 4, 3, 11, 22}

## Booleans

7.5 What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [31]:
# What the outcome?
2 > 3 # False

False

## Question Eight
Points : 5


One lap around a running track is exactly 0.25 miles. Write the function miles_to_laps() that takes a number of miles as an argument and returns the number of laps. Complete the program to output the number of laps.

Output each floating-point value with two digits after the decimal point, which can be achieved as follows:
print('{:.2f}'.format(your_value))

    Ex: If the input is:1.5
    the output is:6.00
    Ex: If the input is:2.2
    the output is:8.80
    Your program must define and call the following function:
            def miles_to_laps(user_miles)

In [32]:
# define your function here:
def miles_to_laps(user_miles):
  n_laps = '{:.2f}'.format(user_miles / 0.25)
  return n_laps

In [33]:
print(miles_to_laps(1.5))
print(miles_to_laps(2.2))

6.00
8.80

In [34]:
if __name__ ==' __main__':
    print(miles_to_laps(1.5))
    print(miles_to_laps(2.2))

## Question Nine
Points : 5


Write a function that checks whether a number is in a given range (inclusive of high and low)

In [35]:
def ran_check(num,low,high):
    if num >= low and num <= high:
        assertion = f'{num} is between {low} and {high}.'
    else:
        assertion = f'{num} is not between {low} and {high}.'
    return assertion

In [36]:
# Check
ran_check(5,2,7)

'5 is between 2 and 7.'

In [37]:
ran_check(10,11,12)

'10 is not between 11 and 12.'

Write a function that checks whether a number is in a given range return a boolean:

In [38]:
def ran_bool(num,low,high):
    if num >= low and num <= high:
        assertion = True
    else:
        assertion = False
    return assertion

In [39]:
ran_bool(3,1,10)

True

## Question Ten
Points : 5

Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.

    Sample String : 'Hello Students, how are you this fine Tuesday?'
    Expected Output : 
    No. of Upper case characters : 3
    No. of Lower case Characters : 34

Note: You can use tring methods **.isupper()** and **.islower()**

In [40]:
def upper_lower(s):
    n_upper = 0
    n_lower = 0
    for i in s:
        if i.isupper():
            n_upper += 1
        elif i.islower():
            n_lower += 1
        else:
            pass
    print(f'No. of Upper case characters : {n_upper}')
    print(f'No. of Lower case Characters : {n_lower}')

In [41]:
s = 'Hello Students, how are you this fine Tuesday?'
upper_lower(s)

No. of Upper case characters : 3
No. of Lower case Characters : 34

## Question Eleven
Points : 5

Write a function to check if the given year is a leap year. A leap year is when a year has 366 days: An extra day, February 29th. The requirements for a given year to be a leap year are:

    1) The year must be divisible by 4

    2) If the year is a century year (1700, 1800, etc.), 
       the year must be evenly divisible by 400

Some example leap years are 1600, 1712, and 2016.

Funtion should takes in a year and determines whether that year is a leap year.

    Ex: If the input is: 1712
        the output is: 1712 is a leap year.

In [42]:
#Define your function here
def leap_year(year):
    is_leap_year = None
    if year % 2 == 0:
        is_leap_year = True
        print(f'{year} is a leap year.')
    else:
        is_leap_year = False
        print(f'{year} is not a leap year.')

In [43]:
leap_year(1600)
leap_year(1712)
leap_year(2016)
leap_year(2023)

1600 is a leap year.
1712 is a leap year.
2016 is a leap year.
2023 is not a leap year.

## Question Twelve
Points : 2.5

**Write a Python function to multiply all the numbers in a list.**

    Sample List : [1, 2, 3, -4]
    Expected Output : -24

In [44]:
def multiply(numbers):  
   final_product = 1
   for i in numbers:
      final_product *= i
   return final_product

In [45]:
multiply([1,2,3,-4])

-24

## Question Thirteen
Points : 2.5

**Write a Python function that checks whether a word or phrase is palindrome or not.**

Note: A palindrome is word, phrase, or sequence that reads the same backward as forward.

    e.g., madam,kayak,racecar

    input : madam
    output: Given 'madam' is a palidrome.

In [46]:
def palindrome(s):
     reversed_str = s[::-1]
     if s == reversed_str:
          print(f'Given {s} is a palindrome.')
     else:
          print(f'Given {s} is not a palindrome.')

In [47]:
palindrome('helleh')

Given helleh is a palindrome.

## Question Fourteen
Points : 2.5


**Write a Python function to check whether a string is pangram or not. (Assume the string passed in does not have any punctuation)**

    Note : Pangrams are words or sentences containing every letter of the alphabet at least once.
    For example : "The quick brown fox jumps over the lazy dog"

In [48]:
import string

def ispangram(s):
    alphabet = "abcdefghijklmnopqrstuvwxyz"
    s = s.lower()

    for i in alphabet:
        if i not in s:
            return False

    return True

In [49]:
ispangram("The quick brown fox jumps")

False

In [50]:
ispangram("The quick brown fox jumps over the lazy dog")

True

## Question Fifteen
Points : 5

Toll gates have different fees based on the time of day, weekdays/weekends. Write a function that has three parameters: the current hour of time (int), time is morning (boolean) and whether the day is a weekend(boolean). The function returns the correct toll fee (float), based on the chart below.

    Weekday Tolls

    Before 7:00 am ($1.15)
    7:00 am to 9:59 am ($2.95)
    10:00 am to 2:59 pm ($1.90)
    3:00 pm to 7:59 pm ($3.95)
    Starting 8:00 pm ($1.40)
    
    Weekend Tolls

    Before 7:00 am ($1.05)
    7:00 am to 7:59 pm ($2.15)
    Starting 8:00 pm ($1.10)

    input : toll_fee(8, True, False) 
    Output : $ 2.95

In [51]:
#define your code here

def toll_fee(hour, morning,weekend):
  toll = None
  if weekend:
    if hour < 7:
        toll = 1.05
    elif hour < 20:
        toll = 2.15
    else:
        toll = 1.10
  else:
    if hour < 7:
        toll = 1.15
    elif hour < 10:
        toll = 2.95
    elif hour < 15:
        toll = 1.90
    elif hour < 20:
        toll = 3.95
    else:
        toll = 1.40
    round_trip = np.round(2 * toll, 2)
    return toll, round_trip

In [52]:
#call your function

toll, round_trip = toll_fee(8, True, False)
print(f"The fee of the hour: ${toll}, and the round-trip fee is ${round_trip}.")

The fee of the hour: $2.95, and the round-trip fee is $5.9.

*If you extend the program to add roud trip fee extra credit point 5 will be awarded.*

## Question Sixteen
Points : 2.5

### Branching  staements
if - elif -  else

Given three values a, b, c, check which value is minimum and remove that value from other values. Write an algorithm.

        Ex: If the input is:
        a = 130
        b = 50
        c = 130
        The output is:
        a = 80
        b = 0 
        c = 80

In [53]:
def min_val_remover(lst):
    min_val = min(lst)
    for index, value in enumerate(lst):
        lst[index] = value - min_val
    print(f'a = {lst[0]}')
    print(f'b = {lst[1]}')
    print(f'c = {lst[2]}')

In [54]:
min_val_remover([130, 50, 130])

a = 80
b = 0
c = 80

## Question Seventeen
Points : 5

Write a program that takes in a year and determines whether that year is a leap year.

      Ex: If the input is:  1712
          the output is: 1712 - leap year

          Note : 1) The year must be divisible by 4
                  2) If the year is a century year (1700, 1800, etc.), the year must be evenly divisible by 400

In [55]:
#Define your function here
def leap_year(year):
    is_leap_year = None
    if year % 2 == 0:
        is_leap_year = True
        print(f'{year} - leap year')
    else:
        is_leap_year = False
        print(f'{year} - not a leap year')

In [56]:
leap_year(1712)

1712 - leap year

## Question Eighteen
Points : 5

### Loops

Write a program that takes a simple password and makes it stronger by replacing certain characters as per list below and appending "!" to the end of the input string.

        i becomes 1
        a becomes @
        m becomes M
        B becomes 8
        s becomes $
        z becomes 2
        o becomes 0
        
        If the input is: mypassword
        the output is: Myp@$$w0rd!

In [57]:
special_char_replacer = {
    'i':'1',
    'a':'@',
    'm':'M',
    'B':'8',
    's':'$',
    'z':'2',
    'o':'0'
}

In [58]:
def password_strengthner(weak_password):
    strong_password = ''
    for char in weak_password:
        if char.lower() in special_char_replacer:
            strong_password += special_char_replacer[char.lower()]
        else:
            strong_password += char

    return strong_password + '!'

In [59]:
password_strengthner('mypassword')

'Myp@$$w0rd!'

## Question Nineteen
Points : 2.5

Write a program to get 10 multiples of anynumber given.

    Example: if Number = 5
    Output :5,10,15,20,25,30,35,40,45,50

In [60]:
def multiples(number):
    multiples = []

    for i in range(1, 11):
        multiples.append(number * i)

    return multiples

In [61]:
multiples(5)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]